@model Picturepark.PressPortal.Demo.Controllers.SearchViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h4>@Localizer.GetString("Search results for") "@Model.SearchString"</h4>
<br /><br />

@foreach (var result in Model.SearchResults)
{
    <h5><a asp-controller="Home" asp-action="Detail" asp-route-id="@result.Id">@result.Title</a></h5>
    <p>@result.Description</p>
}

@if (!Model.SearchResults.Any())
{
    <p>@Localizer.GetString("No search results")
        <br />
        <a href='/'>@Localizer.GetString("Back to Overview")</a>
    </p>
}

