@using Picturepark.PressPortal.Demo.Contracts;
@using Microsoft.AspNetCore.Mvc.Localization
@using Picturepark.SDK.V1.Contract

@inject IViewLocalizer Localizer

@model ContentItem<PressKits>

@*<script>
    //change og meta tags on detail view
    $(document).ready(function () {
        $("meta[property='og\\:title']").attr("content", $("#content-area .entry-title").html());
        $("meta[property='og\\:site_name']").attr("content", $("#content-area .entry-title").html());
        $("meta[property='og\\:description']").attr("content", $(".leadP").html());
        $("meta[property='og\\:image']").attr("content", $(".entry-content .et_pb_text_inner img").attr("src"));
        $("meta[property='og\\:url']").attr("content", window.location.href);
    });
</script>*@

<a asp-controller="Home" asp-action="Overview"><span>#</span> @Localizer.GetString("Back to Overview")</a>

<article>
    <h1>@Model.Content.Headline.GetTranslation()</h1>
    <p>
        <span>@Localizer.GetString("By") 
            <a href="#" title="Posts By @Model.Owner.FirstName @Model.Owner.LastName" rel="author">@Model.Owner.FirstName @Model.Owner.LastName</a>
        </span>
        <span>•</span>
        <span>@Model.Content.ReleaseDate.ToShortDateString()</span>
    </p>

    <p>@Model.Content.Lead?.GetTranslation()</p>
    <img src="/Home/ImageResized/@Model.Content.HeroImage.TargetId?width=750&height=600" />

    <markdown>@Html.Raw(Model.Content.BodyText?.GetTranslation())</markdown>

    <h4>Downloads</h4>
    @foreach (var download in Model.Content.MediaDownloads)
    {
        <a asp-area="" asp-controller="Home" asp-action="Embed" asp-route-id="@download.TargetId">
            <i class="material-icons">cloud_download</i>
            <img src="/Home/Thumbnail/@download.TargetId">
            <p>@download.LegendTitle?.GetTranslation()</p>
        </a>
    }
</article>