@using Picturepark.PressPortal.Demo.Contracts;
@using Microsoft.AspNetCore.Mvc.Localization
@using Picturepark.SDK.V1.Contract

@model IEnumerable<ContentItem<PressKits>>
@inject IViewLocalizer Localizer


<!--start-->
@{ 
    int articleCounter = 0;
}

@foreach (var portal in Model)
{
    articleCounter = articleCounter + 1;

    <div id="articleNr@(articleCounter.ToString())" class="article-box">
        <article>
            <a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-id="@portal.Id">
                <img class="article-img" src="/Home/ImageResized/@portal.Content.HeroImage.TargetId?width=400&height=400"/>
            </a>
            <div class="article-head-info">
                <h2 class="article-title">
                    <a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-id="@portal.Id">@portal.Content.Headline.GetTranslation()</a>
                </h2>
                <p class="article-lead">@portal.Content.Lead?.GetTranslation()</p>
                <a class="read-more primary-color" asp-area="" asp-controller="Home" asp-action="Detail" asp-route-id="@portal.Id">
                    @Localizer.GetString("Read more")<i class="material-icons primary-color">keyboard_arrow_right</i>
                </a>
            </div>
        </article>
    </div>
}

<!--only displayed if more than 9 articles-->
    <div class="page-nav">
        <div class="page-list"></div>
        <div onclick="changePage('lastPageBtn')" class="last-page button gradient-bckgr gradient-shadow">@Localizer.GetString("Last page")</div>
        <div onclick="changePage('nextPageBtn')" class="next-page button gradient-bckgr gradient-shadow">@Localizer.GetString("Next page")</div>
    </div>
