@using Picturepark.PressPortal.Demo.Contracts;
@using Microsoft.AspNetCore.Mvc.Localization
@using Picturepark.SDK.V1.Contract

@model IEnumerable<ContentItem<PressKits>>
@inject IViewLocalizer Localizer

<div class=" et_pb_row et_pb_row_1">
	<div class="et_pb_column et_pb_column_4_4  et_pb_column_1">
		<div class="et_pb_blog_grid_wrapper">
            <div class="et_pb_blog_grid clearfix et_pb_module et_pb_bg_layout_light et_pb_blog_0">
                @{ 
                    int articleCounter = 0;
                }
                @foreach (var portal in Model)
                {
                    articleCounter = articleCounter + 1;

                    <div id="articleNr@(articleCounter.ToString())" class="articlePreview column size-1of3">
                        <article class="et_pb_post clearfix post type-post status-publish format-standard has-post-thumbnail hentry category-best-practices-for-dam">

                            <div class="et_pb_image_container">
                                <a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-id="@portal.Id" class="entry-featured-image-url">
                                    <img src="/Home/ImageResized/@portal.Content.HeroImage.TargetId?width=400&height=400" alt="The Value of Synonyms in Content Systems" width="400" height="250" />
                                </a>
                            </div> <!-- .et_pb_image_container -->
                            <div class="postImageContainer">
                                <h2 class="entry-title"><a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-id="@portal.Id">@portal.Content.Headline.GetTranslation()</a></h2>

                                <div class="post-content">
                                    <p>@portal.Content.Lead?.GetTranslation()</p>
                                    <a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-id="@portal.Id" class="more-link">@Localizer.GetString("Read more")</a>
                                </div>
                            </div>
                        </article>
                    </div>
                }
            </div>
		</div>
	</div>
</div>

<div id="postArticles">
    <div id="pageCount"></div>


    <!--only displayed if more than 9 articles-->
    <div id="navPageBtns">
        <div id="lastPage" class="pageNavBtn" onclick="showLastPage()">@Localizer.GetString("Last page")</div>
        <div id="nextPage" class="pageNavBtn" onclick="showNextPage()">@Localizer.GetString("Next page")</div>
    </div>
</div>
